Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      VPCZoneIdentifier:
        - !Ref AWSEBVPCSubnetA
        - !Ref AWSEBVPCSubnetB
      LaunchTemplate:
        LaunchTemplateId: "lt-0c93640303a26be53" 
        Version: "$Latest" # Use "$Latest" to ensure it pulls the latest version of the template
      MinSize: "1"
      MaxSize: "4"
      DesiredCapacity: "1"