files:
  "/etc/nginx/conf.d/proxy_buffers.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Increase buffer size for handling larger headers
      client_header_buffer_size 16k;
      large_client_header_buffers 4 32k;

      # Additional configurations for health checks and large requests
      client_max_body_size 10m;
      proxy_buffer_size 8k;
      proxy_buffers 4 32k;
      proxy_busy_buffers_size 64k;

container_commands:
  01_reload_nginx:
    command: "sudo systemctl reload nginx"
